body {
  background-color: #adc2a9;
  font-family: 'Montserrat', sans-serif;
}

.app {
  font-size: 30px;
  border: 2px solid #D3E4CD;
  background-color: #D3E4CD;
  padding: 10px;
  margin: 10px auto;
  border-radius: 15px;
  max-width: 500px;
}
.wholeCard {
  margin-top: 0;
}


h2 {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0px;
}

h3 {
  margin-left: 12px;
  font-size: 11px;
  font-weight: 10px;
  margin-top: 0px;
}

h4 {
  text-align: right;
  font-weight: 100px;
  font-size: 10px;
}
.col-6 {
  font-size: 35px;
  margin-left: 20px;
}

.units {
  position: relative;
  top: -34px;
  font-size: 15px;
}

.extra {
  height: 100px;
  background-color: transparent;
  margin-left: 300px;
  margin-top: -50px;
  font-size: 11px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}

.city-container {
  border-radius: 15px;
  align-items: flex-end;
}

.col-2 {
  align-items: baseline;
}

small {
  text-align: center;
  font-size: 15px;
}